# See GITATTRIBUTES(5) (``man gitattributes``).
# - ``diff=<language>`` declares that diff hunk headers and git-diff word diffs
#   (for ``git diff --word-diff`` and ``git diff --color-words``) should be
#   specially computed for the language grammar.  This makes git-diff more
#   powerful and useful.
*.py   text eol=lf   diff=python
*.html text eol=lf   diff=html
*.txt  text eol=lf
*.rst  text eol=lf
*.in   text eol=lf
*.ini  text eol=lf
