# Backup files
*.~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.pytest_cache/

# C extensions
*.so

# Distribution / packaging
bin/
.Python
env*/
build/
develop-eggs/
dist/
pypi-dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.eggs/
.env*/
.pyenv/
venv*/
.venv*/
python.properties

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.coverage.*
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Mac
.DS_Store

# Misc
tokens.pk

#pyenv
.python-version
