{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "GET", "uri": "https://api.box.com/2.0/users/me"}, "response": {"body": {"encoding": null, "string": ""}, "headers": {"WWW-Authenticate": ["Bearer realm=\"Service\", error=\"invalid_request\", error_description=\"The access token was not found.\""]}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://api.box.com/2.0/users/me"}, "recorded_at": "2017-08-25T02:49:37"}], "recorded_with": "betamax/0.8.0"}