name: Build boxsdk
on:
  pull_request:
    branches:
      - combined-sdk
  push:
    branches:
      - combined-sdk

permissions:
  contents: read
  
jobs:
  build:
    name: Build and unit tests
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
    container:
      image: python:${{ matrix.python-version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Upgrade pip and install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[gh]

      - name: Run tests with tox
        run: tox -e py$(echo "${{ matrix.python-version }}" | tr -d '.')
  coverage:
    name: Coverage report
    runs-on: ubuntu-latest
    container:
      image: python:3.13
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[coveralls]
      - name: Send coverage report to Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tox -e coverage
          coveralls --service=github
