name: Integration tests boxsdk
on:
  pull_request:
    branches:
      - combined-sdk

permissions:
  contents: read

jobs:
  tests:
    name: Integration tests
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version:
        - '3.8'  
        - '3.12'
        - '3.13'
    container:
      image: python:${{ matrix.python-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e ".[dev]"
      - name: All Tests
        if: startsWith(github.head_ref, 'codegen-release')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JWT_CONFIG_BASE_64: ${{ secrets.JWT_CONFIG_BASE_64 }}
          ADMIN_USER_ID: ${{ secrets.ADMIN_USER_ID }}
        run: |
          tox -e integration-tests
      - name: Smoke Tests
        if: "!startsWith(github.head_ref, 'codegen-release')"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JWT_CONFIG_BASE_64: ${{ secrets.JWT_CONFIG_BASE_64 }}
          ADMIN_USER_ID: ${{ secrets.ADMIN_USER_ID }}
        run: |
          tox -e smoke-tests
