name: Semantic PR

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - main

permissions:
  contents: read

jobs:
  main:
    name: Validate semantic PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
